@font-face {
    font-family: 'lobster_regular';
    src: url('fonts/lobster_1.3-webfont.eot');
    src: url('fonts/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lobster_1.3-webfont.woff2') format('woff2'),
         url('fonts/lobster_1.3-webfont.woff') format('woff'),
         url('fonts/lobster_1.3-webfont.ttf') format('truetype'),
         url('fonts/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_regular';
    src: url('fonts/lato-regular-webfont.eot');
    src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato-regular-webfont.ttf') format('truetype'),
         url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    border: 2px black solid;
}

/* BACKGROUND */

#left_side, #right-side {
    margin: 0 auto 0 auto;

    font-family: 'lato_regular', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

#left_side {
    width: 60%;
    float: left;
    box-sizing: border-box;

    padding: 30px;
    background-color: white;
    color: #444444;
}

#right_side {
    width: 40%;
    float: right;
    box-sizing: border-box;

    padding: 25px;
    background-color: #757475;
    color: #EEEEEE;
}

/* LEFT HEADER
 * components : .job_title, .name
 */

 #left_header {
     line-height: 22px;
 }
 #left_header * {
     margin: 0 0 0 0;
 }

.job_title {
    font-size: 18px;
    color: #757475;
    font-weight: 600;
}

.name {
    font-size: 16px;
    color: black;
    font-weight: normal;
}

/* .BLOCK_PREZ : #work_exp, #projects, #education 
 * components : .block_title, .description
 */

 h3 {
    margin: 10px 0 0 0;

    font-family: 'lobster_regular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #E60026;
}

ul {
    margin: 0;
    list-style-type: square;
}

.block_prez {
    margin: 10px 0 0 0;
}

/* block title */

.block_title h4 {
    /*background-color: skyblue;*/
    margin: 20px 0 0 0;
    color: black;
    font-weight: bold;
    font-size: 9px;
}

.block_title h5 {
    /*background-color: steelblue;*/
    color: #E60026;
    display: inline;
    font-weight: normal;
    font-size: 9px;
}

.block_title h6 {
    /*background-color: turquoise;*/
    color: black;
    display: inline;
    font-weight: normal;
    font-size: 9px;
}

.block_title p {
    display: inline;
    font-size: 9px;
}

/* descripton */

/* ABOUT ME */

#profile_picture {
    border-radius: 50%;
    width: auto;
    height: 250px;
}

/* SKILLS */

.clear {
    clear: both;
}

/****** BROUILLON ******/

/*
.block_title {
    border: 2px turquoise solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 8px;
}

.block_title h4 {
    color: black;
    font-weight: bold;
    font-size: 7px;
}

.block_title h5 {
    color: #E60026;
    display: inline;
    font-weight: normal;
    font-size: 8px;
}

.block_title h6 {
    color: black;
    display: inline;
    font-weight: normal;
    font-size: 8px;
}

.block_title p {
    display: inline;
    font-size: 8px;
}
*/
/*
.description {
    margin: 0 0 0 0;
    background-color: teal;
    color: #666666;
}
*/
/*.block_prez ul {
    margin: 5px 0 0 0;
    padding-left: 12px;
    line-height: 120%;
    font-size: 9px;
}

.block_prez li {
    margin: 4px 0 0 0;
}*/

/* block_list */
/*
.block_list {
    color: #EEEEEE;
}

.block_list h3 {
    color: #AAAAAA;
}*/
/*
#profile_picture {
    border-radius: 50%;
    width: auto;
    height: 250px;
}
*/
/*#contacts {
    padding-left: 25px;
}*/

/***********************/
