@font-face {
    font-family: 'lobster_regular';
    src: url('fonts/lobster_1.3-webfont.eot');
    src: url('fonts/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lobster_1.3-webfont.woff2') format('woff2'),
         url('fonts/lobster_1.3-webfont.woff') format('woff'),
         url('fonts/lobster_1.3-webfont.ttf') format('truetype'),
         url('fonts/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_regular';
    src: url('fonts/lato-regular-webfont.eot');
    src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato-regular-webfont.ttf') format('truetype'),
         url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*** GLOBAL ***/
#all {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

    font-family: 'lato_regular', Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: 'lobster_regular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 1.6em;
}

ul {
    list-style: inside;
    padding: 0;
    list-style-type: square;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: #9F1720;
}

/*** #MAIN_HEADER ***/
#main_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    background-color: #757475;
    border: 2px solid white;
    color: #EEEEEE;
}

#profile_picture {
    width: 224px;
    border-radius: 50%;
}

#titles {
    text-align: center;
}

#full_name {
    color: black;
    font-weight: normal;
    margin-bottom: 0px;
}

#job_title {
    font-weight: bold;
    margin-top: 10px;
}

#contacts span {
    position: relative;
    left: 12px;
}

/*** #PAGE ***/
#page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*** #LEFT_SIDE ***/
#left_side {
    flex: 2;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding: 40px;

    background-color: white;
    color: #666666;
}

.main_title {
    color : #E60026;
}

.what {
    margin-bottom: 0px;
    color: black;
    font-weight: bold;
}

.cie, .location, .date {
    display: inline;
    margin: 0;
    font-weight: normal;
    font-size: 1.2em;
}

.cie {
    color: #E60026;
}

.location {
    color: black;
}

.date {
    font-size: 1em;
}

.description {
    margin-top: 8px;
}

.description a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.description a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #757475;
}

/*** #RIGHT_SIDE ***/
#right_side {
    flex: 1;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;

    border-right: 2px solid white;
    background-color: #757475;
    color: #EEEEEE;
}

#right_side section {
    width: 245px;
}

#right_side ul {
    list-style-type: none;
}

#languages em {
    font-style: normal;
    font-weight: bold;
}

















<<<<<<< HEAD
.parent {    
=======































/* BACKGROUND */
/*
.parent {
    background-color: pink;
    
>>>>>>> eebe568cb71528f9d4d37dd427fc10f86f84f025
    display: flex;
    margin: 0;
    min-width: 250px;
    max-width: 940px;
    max-height: 1320px;
    margin: auto;
}

.child {
    font-family: 'lato_regular', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#left_side {
    width: 60%;

    padding: 40px;
    background-color: white;
    color: #666666;
}

#right_side {
    width: 40%;

    padding: 25px;
    background-color: #757475;
    color: #EEEEEE;
}*/

/* LEFT HEADER
 * components : .job_title, .name
 */
/*
 #left_header * {
     margin: 0 0 0 0;
 }

.job_title {
    font-size: 29px;
    color: #757475;
    font-weight: 600;
}

.name {
    font-size: 25px;
    color: black;
    font-weight: normal;
}*/

/* .BLOCK_PREZ : #work_exp, #projects, #education 
 * components : .block_exp, .block_title, .description
 */
/*
h3 {
    margin: 0;

    font-family: 'lobster_regular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    font-weight: 500; 
}

ul {
    display: block;
    list-style: inside;
    padding: 0;
    line-height: 110%;
}

.block_prez {
    margin: 18px 0 0 0;
}

.block_exp {
    margin: 15px 0 25px 0;
}

.block_exp h3{
    margin: 0 0 0 0;
    color: #E60026;
}*/

/* block title 
 * components : .bt_main_title, .bt_sub_title {.bt_cie, .bt_location, .bt_date}
 */
 /*

.block_title {
    line-height: 100%;
    font-size: 14px;
}

.bt_main_title {
    margin: 10px 0 0 0;
    color: black;
    font-weight: bold;
}

.bt_sub_title {
    margin: 5px 0 0 0;   
}

.bt_sub_title * {
    margin: 0;  
    display: inline;
    font-weight: normal;
}

.bt_cie {
    color: #E60026;
}

.bt_cie a {
    text-decoration: none;
    color: inherit;
}

.bt_cie a:visited {
    text-decoration: none;
    color: #9F1720;
}

.bt_location {
    color: black;
}
*/

/* descripton */
/*
.description {
    margin: 8px 0 0 0;
    list-style-type: square;
    color: #666666;
}

.description li {
    margin: 8px 0 0 0;
}
*/
/* RIGHT HEADER : #about_me, #skills
 * components : #about_me, .block_list
 */

/* ABOUT_ME : #profile_picture, #contacts
 */
/*
#profile_picture {
    margin: 20px 40px 0 40px;

    height: 224px;
    width: auto;
    border-radius: 50%;
}

#contacts {
    margin: 30px 0 0 0;
}

#contacts ul {
    margin: 0;
    list-style-type: square;
    font-size: 14px;
}

#contacts li {
    margin: 10px 0 0 0;
    line-height: 100%;
}

#contacts span {
    position: relative;
    left: 12px;
}

#contacts a {
    text-decoration: none;
    color: inherit;
}
*/

/* block_list 
 * components : h3, ul
 */
 /*

.block_list h3 {
    margin: 25px 0 0 0;
    color: #AAAAAA;
}

.block_list ul {
    margin: 20px 0 0 0;
    list-style-type: none;
}

.block_list li {
    line-height: 100%;
    margin: 5px 0 0 0;
}

.block_list em {
    font-style: normal;
    font-weight: bold;
}
*/

/* Smartphones */

@media all and (max-device-width: 650px){
.parent {
    flex-direction: column;
}

#left_side {
    width: auto;
    padding: 5px;
}

#right_side {
    width: auto;
    padding: 20px;
}

.job_title, .name {
    text-align: center;
}

#profile_picture {
    margin: 20px 20px 0 20px;
}
}

@media all and (max-device-width: 900px) {
#left_side {
    padding: 10px;
}

#profile_picture {
    margin: 20px 30px 0 30px;
}
}
